### Bower ###
bower_components
app/components

### Node ###
# Logs
logs
*.log
.tmp
node_modules
dist
build

# Runtime data
pids
*.pid
*.seed

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
